groups:
- name: metrics
  rules:

  # Alert for updates in number of button presses in the last 5 mins
  - alert: button_presses_5m
    expr: button_presses_total - button_presses_total offset 5m >= 0
    for: 1m
    annotations:
      summary: "{{ $labels.instance }}"
      description: "{{ $value }}"
